.hero-title {
    font-size: 3rem; /* по подразбиране – 6% от ширината на екрана */
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
}

/* Настройки за по-малки екрани */
@media (max-width: 768px) {
    .hero-title {
        font-size: 8vw;
    }
}

/* Настройки за по-големи екрани */
@media (min-width: 1200px) {
    .hero-title {
        font-size: 3rem;
    }
}

/* Гъвкава промяна на шрифта в зависимост от ширината */
@media (max-width: 1200px) {
    nav a {
      font-size: 1.1rem;
      padding: 5px 8px;
    }
  }
  
  @media (max-width: 1100px) {
    nav a {
      font-size: 1rem;
      padding: 5px 7px;
    }
  }
  
  @media (max-width: 1000px) {
    nav a {
      font-size: 0.9rem;
      padding: 5px 6px;
    }
  }
  
  @media (max-width: 950px) {
    nav a {
      font-size: 0.85rem;
      padding: 4px 5px;
    }
  }
  